# This is a basic workflow to help you get started with Actions

name: azdevops-google-secret-manager-CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TASK_TEST_TRACE: 1

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 14.x

      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Install
        run: npm install
        working-directory: push-task

      - name: Compile
        run: tsc
        working-directory: push-task

      - name: Test
        run: npm test
        working-directory: push-task
